* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, 'Calibri';
}

body{
    background-color: rgb(221, 226, 231);
}

#wrapper {
    width: 780px;
    margin:10rem auto 0 auto;
}

.header {
    background: url('img/header1.png') #1E90FF;
    height: 85px;
    width: 730px;
    padding: 25px;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
    position: fixed;
	z-index: 9999;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 90px;
    padding-left: 15px;
}

#search {
    float: right;
    margin-right: 20px;
    border: none;
}
#search input {
    padding: 0.7rem 0.2rem;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
    padding-left: 0.7rem;
    border: none;
}

.search { /* search button */
    padding: 0.1rem 2rem;
    border: none;
    border-radius: 0 8px 8px 0;
    width: 1.56rem;
    height: 2.56rem;
    align-items: center;
}

.search .fa {
    position: absolute;
    right: 9%;
    top: 69%;
}

.btn-search {
    display: flex; 
    align-items: center;
}

#main-menu {
    margin-top: 0px;
    list-style: none;    
}

#main-menu li {
    float: left;
    padding: 8px 20px;
    border-right: 0 solid #555555;
}

#main-menu li a {
    color: #ffffff;
    text-decoration: none;
}

#main-menu li a {
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

#main-menu li a:hover {
    color: #0044ff;
    font-weight: bolder;
}

#main-menu li a.active {
    color: #ffe600;
    text-decoration: none;
    font-weight: bolder;
}

#main-menu li:hover {
    background: #00eeff;
    font-weight: bolder;
    border-radius: 10px;
}

#main-menu li.active  {
    background: #0044ff;
    color: #ffe600;
    font-weight: bolder;
    border-radius: 10px;
}

#header form {
    float: #ffffff;
    margin-top: 7px;
    margin-right: 10px;
}

#header form input {
    border: none;
    height: 20px;
}

#article-list {
    width: 470px;
    float: left;
}

.article {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.article img {
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 165px;
}

.article b {
    color: #616060;
    background: #dddddd;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.article p {
    margin: 10px 0;
    text-align: justify;
    padding-right: 15px;
}

.article a {
    display: block;
    text-align: right;
    color: #636363;
    padding-right: 15px;
}

.article h1 {
    font-size: 23px;
    font-weight: 650;
}

.article-contact {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.article-contact h3 {
    margin: 15px 0;
}

.article-service {
    /* background: #ffffff; */
    padding: 20px;
    margin-bottom: 20px;
    width: 738px;
    overflow: hidden;
}

#error {
    width: 55%;
    height: 55%;
}

img#error {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    width: 270px;
    float: right;
}

#sidebar h2 {
    font-style: 18px;
    margin: 10px 0;
}

#sidebar p {
    line-height: 20px;
    color: #636363;
    text-align: justify;
    padding-right: 20px;
}
#sidebar ul {
    margin-left: 25px;
}

#sidebar ul li {
    color: rgb(37, 107, 236);
}

#sidebar ul li a {
    color: #636363;
    text-decoration: none;
}

.form-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

#my_form p.input {
    width: 217px;
}

#my_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.full-width {
    grid-column: 1 / 3;
    width: 400px;
}

.form-contact label {
    display: block;
}

.form-contact p {
    margin: 0;
}

button, input, textarea {
    padding: 1em;
}

.form input, textarea, button {
    width: 100%;
    border: 1px solid rgb(143, 143, 143);
}

.button-send {
    background: lightgray;
    width: 428px;
    border: 0;
    border-radius: 8px;
    font-size: medium;
    font-weight: bolder;
}

button:hover, button:focus {
    background: #00eeff;
    outline: 0;
}

.form-contact input:focus, textarea:focus {
    outline: 3px solid #00eeff;
}

#footer {
    clear: both;
    margin: 20px 0;
    text-align: center;
    background-color: #f0f0f0;
    padding: 5px;
    color: #555555;
}